.dropdown {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;

  &-header {
    position: relative;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
  }

  &-content {
    position: relative;
    background-color: #f6f6f6;
    padding: 10px;
    opacity: 1;
    transition:
      transform 0.8s ease,
      max-height 0.8s ease;
  }

  &-content.open {
    transform: translateY(0);
    opacity: 1;
    max-height: 600px;
    transition-delay: 0s, 0.2s;
  }
  &-content.closed {
    position: relative;
    background-color: #f6f6f6;
    padding: 10px;
    opacity: 1;
    max-height: 0;

    transform: translateY(-200px);
    opacity: 1;
    transition-delay: 0.3s, 0s;
  }

  .arrow {
    width: auto;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(-180deg);
      transition: transform 0.3s ease;
    }
    .arrow-img {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }
}
