.gallery {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #F6F6F6;
  border-radius: 25px;


  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    padding: 0 50px 0 50px;

  }
}