.logement-card {
  margin: auto;
  max-width: 1240px;
  position: relative;
  padding-bottom: 20px;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }

  &-slider {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      aspect-ratio: 7/5;
      margin-bottom: 15px;
    }
  }

  &-title {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
    max-width: 85%;

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &-location {
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &-host {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    bottom: 80px;
    right: 0;
    width: fit-content;
    @media (max-width: 768px) {
      bottom: 0px;
    }

    &-name {
      max-width: 120px;
      font-size: 18px;
      color: #ff6060;
      text-align: end;

      @media (max-width: 768px) {
        font-size: 12px;
        max-width: 80px;
      }
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
      background-color: #c4c4c4;

      @media (max-width: 768px) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }

  &-tag {
    min-width: 115px;
    width: fit-content;
    background-color: #ff6060;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 10px;
      min-width: 84px;
    }
  }

  &-rating {
    display: flex;
    gap: 5px;
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 0;
    @media (max-width: 768px) {
      left: 0;
    }

    img {
      width: 24px;
      height: 24px;

      @media (max-width: 768px) {
        width: 13px;
        height: 13px;
      }
    }
  }
}

.logement-card-low {
  max-width: 1240px;
  height: auto;
  margin: auto;
  display: flex;
  gap: 75px;
  margin-top: 15px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0px;
  }

  &-description {
    flex: 1;
    border-radius: 10px;
  }

  &-equipments {
    flex: 1;
    border-radius: 10px;
    li {
      list-style: none;
    }
  }
}
