.banner {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 65px;

  &-img {
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
  }

  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 48px;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }


  @media (max-width: 768px) {

    margin-bottom: 25px;

    &-img {
      height: 111px;
    }

    &-title {
      font-size: 24px;
    }
  }
}

  .banner-light img {
    filter: brightness(70%);
    
  }

  .banner-dark img {
    filter: brightness(40%);
  }




