.slider-container {
  position: relative; /* pour positionner les flèches par dessus */
  width: 100%; /* largeur du slider */
  height: 100%; /* hauteur du slider */
  overflow: hidden; /* cache tout ce qui dépasse */
  margin: auto; /* centre le slider horizontalement */

  .slider-wrapper {
    display: flex; /* aligne les images horizontalement */
    width: 100%; /* prend la largeur totale de toutes les images */
    height: 100%; /* prend la hauteur du container */
    transition: transform 0.5s ease; /* animation de glissement */
    gap: 0px;
    margin: auto;

    img {
      width: 100%;
      aspect-ratio: 3/1;
      object-fit: cover;
      border-radius: 25px;
      flex-shrink: 0; /* empêche l’image de rétrécir dans le flex */
    }
  }
  .slider-arrow {
    position: absolute; /* se place par rapport au container */
    top: 50%; /* centre verticalement */
    transform: translateY(-50%); /* ajuste exactement le centre */
    width: 46px; /* taille de la flèche */
    height: 79px;
    cursor: pointer; /* indique que c’est cliquable */
    z-index: 10; /* au-dessus des images */

    @media (max-width: 768px) {
      width: 12px;
      height: 20px;
    }

    &.left {
      filter: drop-shadow(0 0 5px lightgrey);
      margin-left: 25px;

      @media (max-width: 768px) {
        margin-left: 5px;
      }
    }
    &.right {
      right: 0;
      filter: drop-shadow(0 0 5px lightgrey);
      margin-right: 25px;

      @media (max-width: 768px) {
        margin-right: 5px;
      }
    }
  }
  .slider-counter {
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
    filter: drop-shadow(0 0 5px black);
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 3px 6px;
    }
  }
}
